/* ag grid styles */

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
section {
    display: flex;
    justify-content: center;
    align-items: center;
}